<div class="container mt-3">

	<!-- 
		Form etiketi içerisinde ngModel kullanılıyorsa bu form etiketi
		içerisindeki input'lara name attribute'u eklenmelidir.
		Aksi takdirde Angular hata verecektir.
		Ya da form etiketi kaldırılabilir.
	-->

	<form #formData="ngForm">
		<input type="hidden" name="id" value="1">

		<div class="row">
			<div class="col-md-6 mb-3">
				<label for="name" class="form-label">Name</label>
				<input #name="ngModel" [(ngModel)]="users.name" required minlength="5" id="name" name="name"
					class="form-control" type="text" placeholder="Enter full name" value="">

					@if (name.touched || name.dirty) {
						<div class="text-danger">
							<!-- --{{name.errors | json}} -->
							@if (name.errors?.['required']) {
								<span>This is required</span>
							} @else if (name.errors?.['minlength']) {
								<span>Min 5 Char Needed</span>
							}
						</div>
					}
			</div>

			<div class="col-md-6 mb-3">
				<label for="username" class="form-label">Username</label>
				<input [(ngModel)]="users.username" id="username" name="username" class="form-control" type="text"
					placeholder="Enter username" value="">

			</div>

			<div class="col-md-6 mb-3">
				<label for="email" class="form-label">Email</label>
				<input [(ngModel)]="users.email" id="email" name="email" class="form-control" type="email"
					placeholder="name@example.com" value="">
			</div>

			<div class="col-md-6 mb-3">
				<label for="password" class="form-label">Password</label>
				<input [(ngModel)]="users.password" id="password" name="password" class="form-control" type="password"
					placeholder="Password" value="">
			</div>

			<div class="col-md-6 mb-3">
				<label for="city" class="form-label">City</label>
				<input [(ngModel)]="users.city" id="city" name="city" class="form-control" type="text"
					placeholder="City" value="">
			</div>

			<div class="col-md-6 mb-3">
				<label for="state" class="form-label">State</label>
				<input [(ngModel)]="users.state" id="state" name="state" class="form-control" type="text"
					placeholder="State" value="">
			</div>
		</div>

		<div class="d-flex gap-2">
			<button type="submit" [disabled]="formData.invalid" class="btn btn-primary">Save</button>
			<button type="reset" class="btn btn-secondary">Reset</button>
		</div>
	</form>
</div>